<!doctype html>
<html lang="en" ng-app="jsSearchApp">
    <head>
        <meta charset="utf-8">
        <title>JS Search demo page</title>

        <!-- Load Angular -->
        <script src="components/angular/angular.js"></script>
        <script src="scripts/controllers.js"></script>

        <!-- Copied from template at http://getbootstrap.com/getting-started/ -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	<!-- End copy -->
    </head>
    <body>
	<div class="container-fluid">
	    <div class="row-fluid" ng-controller="QueryFeedbackController">
		Query: <input ng-model="query" />
		<button ng-click="parse(query)">Search</button>
		<div>
		    Query: {{query}}
		</div>
		<div>
		    <ul>
		   	<li ng-repeat="term in terms">
			    {{term}}	    
			</li>
		    </ul>
		</div>
	    </div>
	</div>
    </body>
</html>
